<%- include("particals/header.ejs") %>

<%- include("particals/flight_landing_page_form.ejs") %>

<% if(locals.info_message) {%>
    <p style="color:yellow;"><%= locals.info_message %></p>
<%}%>
 
<%- include("particals/footer.ejs") %>