<%- include("particals/header.ejs") %>

    <%- include("particals/flight_search_form.ejs") %>

        <div id="errorMessageContainer">
            <% if(locals.info_message) {%>
                <p style="color:red;">
                    <%= locals.info_message %>
                </p>
                <%}%>
        </div>

        <%- include("particals/footer.ejs") %>