
<h2> Search for a Flight</h2>
<!--  travelers 

-->
<form class="p-5" action="/search_for_flights" method="POST">

    <!-- Check box for One Way Flights-->
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="oneWayFlight" name="one_way">
            <label class="form-check-label" for="oneWayFlight">One Way</label>
        </div>
    </div>

    <!-- Row for origin flight location and date-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="flightOriginInput">Origin</label>
            <input type="text" class="form-control typeahead" data-provide="typeahead"  placeholder="Origin" name="origin" id="flightOriginInput" >
        </div>
        <div class="form-group col-md-6">
            <label>Start Date</label>
            <input type="date" class="form-control" id="flightDepartureDate" name="flightDepartureDate" value=<%= locals.flightDepartureDate %>  min= <%= locals.todayDate %> />
        </div>
 
    </div>

    <!-- Row for destination location and date -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-form-label">Destination</label>
            <input type="text" class="form-control" placeholder="Destination" name="destination" id="flightDestinationInput">
        </div>
        <div class="form-group col-md-6">
            <label for="flightReturnDate">Return Date</label>
            <input type="date" class="form-control" id="flightReturnDate" name="flightReturnDate" value=<%= locals.flightReturnDate %>  min= <%= locals.todayDate %> />
        </div>
    </div>
    
    <input class="btn btn-primary float-right" type="Submit" value="Search"/>
</form>
