<h2> Search for a Hotel</h2>
<form action="/search_for_hotels" method="POST">
    <label>Locaton: </label>
    <input type="text" placeholder="Location" name="location">
    <!-- TODO: Send  min and max date values via locals-->
    <label>Start Date: </label>
    <input type="date" id="start" name="start" value="2018-07-22" min="2018-01-01" />
    <label>End Date: </label>
    <input type="date" id="end" name="end" value="2018-07-22" min="2018-01-01" />
    <input type="Submit" value="Search"/>
</form>