<h2> Search for a Hotel</h2>
<form action="/search_for_hotels" method="POST">
    <label>Locaton: </label>
    <input type="text" placeholder="Location" name="location">
    <label>Start Date: </label>
    <input type="date" id="start" name="hotelCheckInDate" value=<%= locals.hotelCheckInDate %> min=<%= locals.todayDate %> />
    <label>End Date: </label>
    <input type="date" id="end" name="hotelCheckOutDate" value=<%= locals.hotelCheckOutDate %> min=<%= locals.todayDate %> />
    <input type="Submit" value="Search"/>
</form>